<form action="{url path="/send"}" method="post" class="form_contact_pim">

    <input type="hidden" name="current_url" value="{navigate to="current"}"> {* the url the user is redirected to on login success *}

    <div class="container">
        {flash type="flashMessageSuccess"}
            <div class="alert alert-success  ">{$MESSAGE}</div>
        {/flash}
        <h4 class="contact_pim_h4">Vous avez un problème ?</h4>
        <div class="form-group contact_pim_div">
            <label for="email_contact">Votre adresse email</label>
            <input name="email_contact" type="email" class="form-control" id="email_contact" placeholder="name@example.com">
        </div>
        <div class="form-group contact_pim_div">
            <label for="contact_pim">Votre message</label>
            <textarea name="contact_pim" class="form-control" id="ontact_pim" rows="3"></textarea>
            <button type="submit" class="btn text-uppercase textSize16 buttonRoundBlack actionBtn marginTop10">Envoyer</button>
        </div>
    </div>
</form>