<form action="{url path="/send"}" method="post">
    <div class="form-group">
        <h4>Vous avez un problme ?</h4>
        <label for="exampleFormControlInput1">Votre adresse email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@exemple.com">
    </div>
    </div>
    <div class="container form-group">
        <label for="exampleFormControlTextarea1">Votre message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>